body {
  font-family: Arial;
  background: #f0bd89;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: #ebac69;
  padding: 25px;
  border-radius: 8px;
  width: 300px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #217dbb;
}
.contact-form {
  max-width: 400px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background: rgb(109,67,0);
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background: #4e2901;
}
